<html>
<head>
    <title>DjangoGirl Blog</title>

    {% load staticfiles %}
    <link	href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"	rel="stylesheet"	type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/blog.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
   
    <script src="../static/app/scripts/jquery-1.10.2.min.js"> </script>
   <script>
       $(document).ready(function () {
           $("#login_form").css("visibility","hidden")
           $("#btnlog").click(function () {
               $("#login_form").css("visibility", "visible")
           })


            

       });
       
       $(document).ready(function () {
       $("#sign_in").click(function () {
           alert("tryuty")
           $("#login_form").css("visibility", "hidden")
       })
       });

        
    </script>

</head>

<body>
    <div class="page-header">

        <div>
            {% if user.is_authenticated %}
            <div style="float:right; margin-right:20px; font-family:Marlett">Welcome {{user}}</div>

            <div style="clear:right">
                <a href="{% url 'blog.views.post_draft' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <!--
                <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
                -->
                <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
            </div>
            {% else %}





            <div style="float:right; clear:both; margin-right:20px; font-family:Lobster">
                <div>
                    <div>Welcome, Pls</div>
                </div>
                <div>
                    <span id="btnlog"><a href="#" class="btn btn-default">Login</a></span>
                    <span>or</a></span>
                    <span id="reg"><a href="#" class="btn btn-default">Register</a></span>
                </div>
                <div   id="login_form" style="float:right; margin-top:10px  ">
                   
                    <form class="form-horizontal">
                          <div class="form-group">
   
                            <div class="col-sm-12">
                              <input type="email" class="form-control" id="inputEmail3" placeholder="Email or Username">
                            </div>
                          </div>
                          <div class="form-group">
   
                            <div class="col-sm-12">
                              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                          </div>
  
                      <div class="form-group">
                        <div class="col-sm-10">
                          <span id="sign_in"><a href="#" class="btn btn-default">Sign in</a></span>
                        </div>
                      </div>
                    </form>


                </div>


            </div>

            {% endif %}
        </div>

        <h1><a href="{% url 'blog.views.post_list' %}">Django Girl Blog</a></h1>

    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>


</body>
</html>
