<html>
<head>
    <title>DjangoGirl Blog</title>

    {% load staticfiles %}
    <link	href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"	rel="stylesheet"	type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/blog.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="page-header">        
        <a href="{% url 'blog.views.post_draft' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        
        <h1><a href="{% url 'blog.views.post_list' %}">Django Girls Blog</a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>

</body>
</html>