<html>
<head>
    <title>DjangoGirl Blog</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div >
        <h1><a href="#">Django Girl Blog</a></h1>

    </div>
    {%for c in posts%}
    <div>
        <p>created on: {{c.created_date}}</p>
        <h2>{{c.title}}</h2>
        <p>
            {{c.text}}
        </p>

    </div>
   {% endfor %}
    What is going on ????
</body>
</html>
