<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>FUTA</title>
    
    <style>
      #map-canvas {
        width: 500px;
        height: 400px;
        background-color:#CCC;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
     {% load staticfiles %}
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
            center: new google.maps.LatLng(7.2994704, 5.1471163),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
          var ctaLayer = new google.maps.KmlLayer({
              url: 'https://docs.google.com/uc?export=download&id=0B65oNZ05gdUKUk1SVnlUUVdSc0U'
          });
          //ctaLayer.setMap(map);
          var ctaLayer2 = new google.maps.KmlLayer({
              url: 'https://docs.google.com/uc?export=download&id=0B65oNZ05gdUKRm81ekFrUUhtZWc'
          });
          ctaLayer2.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

</head>
<body>
    
<a href='{% static "map/phase.kmz" %}'>phase.kmz</a>
    <a href='{% static "map/legend1.png" %}'>legend1</a>
<a href="../static/map/practice.kmz">practice.kmz</a>
<a href='{% static "map/cta.kml" %}'>../static/map/cta.kml</a>
<a href='{% static "map/practice 2_fromearth.kml" %}'>../static/map/practice 2_fromearth.kml</a>
    <div id="map-canvas"></div>
</body>
</html>